<p> Points:{{totalPoints}}</p>
<p>{{ hebrewGameWords[wordIndex] }}</p>
<p>{{ wordLetters }}</p>
<form #categoryForm="ngForm">
  <div>
    <mat-form-field>
      <mat-label>Guess:</mat-label>
      <input
        class="input"
        matInput
        required
        pattern="^[\u0020-\u007E]+$"
        [(ngModel)]="selected"
        name="Guess"
      />
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" (click)="userGuess()">
    Submit
  </button>
  <button mat-raised-button color="primary" (click)="reset()">Reset</button>
</form>
