<p>{{ hebrewGameWords[wordIndex] }}</p>
<p>{{ wordLetters }}</p>
<form #categoryForm="ngForm">
  <div>
    <mat-form-field>
      <mat-label>Guess:</mat-label>
      <input
      class="input"
        matInput
        errorStateMatchern="word"
        required
        pattern="^[\u0020-\u007E]+$"
        (value)="(selected)"
      />
    </mat-form-field>
  </div>
  <button
  type="submit"
  mat-raised-button
  color="primary"
  [disabled]=""
>
Submit
</button>
<button
mat-raised-button
color="primary"
[disabled]=""
>
Reset
</button>
</form>
