<div class="meixedGame" *ngIf="!endGame">
  <div class="points">
    {{ totalPoints }}<mat-icon>monetization_on</mat-icon>
  </div>
  <h1 class="h1">Word Sorter - {{ currentcategory?.name }}</h1>
  <p>{{ hebrewGameWords[wordIndex] }}</p>
  <p>{{ wordLetters }}</p>
  <form #categoryForm="ngForm">
    <div>
      <mat-form-field>
        <mat-label>Guess:</mat-label>
        <input
          class="input"
          matInput
          required
          pattern="^[\u0020-\u007E]+$"
          [(ngModel)]="selected"
          name="Guess"
        />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="userGuess()">
      Submit
    </button>
    <button mat-raised-button color="primary" (click)="reset()">Reset</button>
  </form>
  <mat-progress-bar
    mode="determinate"
    [value]="progressBar()"
  ></mat-progress-bar>
</div>

<div *ngIf="endGame">
  <h1 class="h1">Word Sorter - {{ currentcategory?.name }} - Results</h1>
  <div>Grade: {{ totalPoints }}</div>
  <div>You classified {{ countTrueGuess() }} out of 6 words correctly</div>
  <table mat-table [dataSource]="gameWords" class="mat-elevation-z8">
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ hebrewGameWords[i] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef>Guess</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ englishGameWords[i] }}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-icon color="primary" *ngIf="this.result[i] == true">check</mat-icon>
        <mat-icon color="warn" *ngIf="this.result[i] == false">clear</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['origin', 'target', 'actions']"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['origin', 'target', 'actions']"
    ></tr>
  </table>
</div>
