<div class="messyGame" *ngIf="!endGame">
  <h1 class="h1">Word Sorter - {{ currentcategory?.name }}</h1>
  is word "{{ gameWords[wordIndex].origin }}" part of the category "{{
    currentcategory?.name
  }}"?

  <div class="btns">
    <div class="yesBtn">
      <button mat-raised-button color="primary" (click)="userGuess(true)">
        Yes
      </button>
    </div>
    <div class="noBtn">
      <button mat-raised-button color="primary" (click)="userGuess(false)">
        No
      </button>
    </div>
  </div>
</div>
<div *ngIf="endGame">
  <h1 class="h1">Word Sorter - {{ currentcategory?.name }} - Results</h1>
  <div *ngIf="countTrueGuess()">
    You classified{{ countTrueGuess() }} out of 6 words correctly
  </div>
  <div class="results">
    <table>
      <tr>
        <td *ngFor="let p of gameWords" class="origin">{{ p.origin }}</td>
      </tr>
      <tr>
        <td *ngFor="let c of resultCategory" class="category">{{ c.name }}</td>
      </tr>
      <tr>
        <td *ngFor="let g of guess" class="guess">{{ g }}</td>
      </tr>
 <tr>
    <td><mat-icon color="primary" *ngIf="this.guess[wordIndex] == true"
      >check</mat-icon
    >
    <mat-icon color="warn" *ngIf="this.guess[wordIndex] == false"
      >clear</mat-icon>
    </td>
    </tr>
    </table>
  </div>
</div>
