<div class="messyGame" *ngIf="!endGame">
  <h1 class="h1">Word Sorter - {{ currentcategory?.name }}</h1>
  is word "{{ gameWords[wordIndex].origin }}" part of the category "{{
    currentcategory?.name
  }}"?

  <div class="btns">
    <div class="yesBtn">
      <button mat-raised-button color="primary" (click)="userGuess(true)">
        Yes
      </button>
    </div>
    <div class="noBtn">
      <button mat-raised-button color="primary" (click)="userGuess(false)">
        No
      </button>
    </div>
  </div>
</div>
<div *ngIf="endGame">
  <h1 class="h1">Word Sorter - {{ currentcategory?.name }} - Results</h1>
  <div>You classified {{ countTrueGuess() }} out of 6 words correctly</div>
  <table mat-table [dataSource]="gameWords" class="mat-elevation-z8">
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ dataSource[i].origin }}
      </td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">
        {{ currentcategory?.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="guess">
      <th mat-header-cell *matHeaderCellDef>Guess</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p *ngIf="this.guess[i] == true">Yes</p>
        <p *ngIf="this.guess[i] == false">No</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <mat-icon color="primary" *ngIf="this.guess[i] == true">check</mat-icon>
        <mat-icon color="warn" *ngIf="this.guess[i] == false">clear</mat-icon>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="['origin', 'category', 'guess', 'actions']"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['origin', 'category', 'guess', 'actions']"
    ></tr>
  </table>
</div>
