.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px;
}

.details-card {
  flex: 30%;
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.details-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.load {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding: 100px;
  margin: 100px;
  font-size: 50px;
}
