<mat-card class="details-card">
  <mat-card-title> Points: </mat-card-title>
  <mat-card-content>
    {{ sumTotalPoints }}
  </mat-card-content>
</mat-card>
<mat-card class="details-card">
  <mat-card-title> Games: </mat-card-title>
  <mat-card-content>
    {{ gameCounter }}
  </mat-card-content>
</mat-card>
<mat-card class="details-card">
  <mat-card-title> Categories You Played: </mat-card-title>
  <mat-card-content>
    {{ categoryCounter }}
  </mat-card-content>
</mat-card>
<mat-card class="details-card">
  <mat-card-title> Categories You Didn't Play: </mat-card-title>
  <mat-card-content>
    {{ categoriesNotPalyed }}
  </mat-card-content>
</mat-card>
